<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProblemRepository"> 
  <select id="getProblemsByStudId" parameterType="int">
    select * 
    from Problem left outer join
    (select *
    from Submit
    where (stud_id, problemNo, id) in (
    select stud_id, problemNo, max(id) latest_id
    from Submit
    where type = 1 and stud_id = #{studId}
    group by problemNo)) s
    on no = s.problemNo;
  </select>

  <select id="getSubmitByStudId" parameterType="int">
    select *
    from Submit
    where stud_id = #{studId}
  </select>

  <select id="getSubmitById" parameterType="int">
      SELECT no, title, s.lang, s.result, s.runtime, s.memory, submit_at, score from Problem p
      JOIN Submit s ON s.problemNo = p.`no` 
      WHERE s.id = #{submitId}
  </select>

  <select id="getAllSubmits">
    select *
    from Submit
  </select>

  <select id="getProblemByNo" parameterType="int">
  select *
    from Problem 
    where no = #{problemNo}
  </select>

  <select id="getAllProblems">
    select *
    from Problem
  </select>

  <select id="listJudgeResult" parameterType="int">
    SELECT
      *
    FROM
      (
      SELECT
        p.no p_no,
        t.id t_no,
        #{submitId} submit_id
      FROM
        Problem p
      JOIN Testcase t ON
        p.no = t.problem_id
      WHERE
        t.isPublic = 1
        AND p.no = (
        select
          problemNo
        from
          Submit
        where
          id = #{submitId})
        ) stp
    LEFT OUTER JOIN Testcase_judge tj ON
      stp.t_no = tj.testcase_id
      AND stp.submit_id = tj.submit_id
    ORDER BY
      stp.t_no asc,
      tj.id asc
  </select>
</mapper>
