<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StudentRepository">
  <select id="getStudentByStudNo" parameterType="string">
    SELECT *
    FROM Student
    WHERE studNo = #{studNo}
  </select>

  <select id="getStudentByStudId" parameterType="int">
    SELECT *
    FROM Student
    WHERE id = #{studId}
  </select>

  <select id="getStudents">
    SELECT *
    FROM Student
  </select>

  <select id="getScoreBoard">
    select studNo, name, problem_no problemNo, try try_cnt
    from Student s, user_problem_stat ups 
    where s.id = ups.stud_id
  </select>

  <update id="exit" parameterType="int" resultType="int">
    update Student
    set state = 2
    where id = #{studId}
  </update>
</mapper>
