<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="src.repository.studentRepository">  
  <select id="getStudentByStudNo" parameterType="string" resultType="StudentDTO">
    SELECT
      *
    FROM
      Student
    WHERE
      studNo = #{studNo}
  </select>
</mapper>