<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="submitRepository">

    <insert id="insertSubmit">
        INSERT INTO Submit (stud_id, problemNo, code, lang, state, code_size)
        VALUES (#{stud_id}, #{problemNo}, ?, #{lang}, 0, #{code_size})
    </insert>

    <select id="getSubmitById" parameterTypes="int">
        SELECT *
        FROM Submit
        WHERE id = #{id}
    </select>
    <select id="getSubmitByStudId" parameterType="int">
        SELECT *
        FROM Submit
        WHERE stud_id = #{studId}
    </select>

    <update id="updateSubmitScore">
        UPDATE submit
        SET score = #{score}
        WHERE id = #{studId}
    </update>
    
    <select id="getSubmitScoreByStudId" parameterType="int">
        SELECT score
        FROM Submit
        WHERE stud_id = #{studId}
    </select>
</mapper>